@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header{
    margin:0;
}

.navbar-brand{
font-family:Lobster;
}


.main-image{
    background: url("../images/leaf-beauty.jpg");
    background-position: initial;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height:100vh;
    background-attachment: fixed;
    position: relative;
  }

    .inner{

    text-align: center;
}

.btn-success{
  border-radius: 50px;
}


/*navbar*/
.navbar{
background-color:  #b4e4c5;
}

#navbar{
  background-color: #b4e4c5;
}

#dropdown-menu{
background-color:#90b582;
}

#cards{
    background: url("../images/leaf-beauty-two.jpg");
    background-position:initial;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width:100%;
    background-attachment: fixed;
  }


#footer{
  background-color:#90b582;
}

#about{
    background-color: transparent;
    border: none;
    color: white;
    position: inherit;
    top: 75px;
    right: 75px;
    padding: 20px;
    float: right;
}

.card-link{
  color: #b4e4c5;

}

.cover-heading, h2{
    color: white;
}

.card{
    background-color: transparent;
    border: none;
    color: white;
}