@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header{
    margin:0;
}

.main-image{
    background: url("../images/header-image.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height:360px;
   /* transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    */
}
/*
.vit-c{
    background: url("../images/hyaluronics.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:300px;
    
}

.vit-e{
    background: url("../images/vitamin-e.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
max-width:100%;
}
*/

.brand-name{
font: Roboto;
}