@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header{
    margin:0;
}

.main-image{
    background: url("../images/soaps.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    min-width:360px;
    
    
    
   /* transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    */
}
/*
.vit-c{
    background: url("../images/hyaluronics.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:300px;
    
}

.vit-c-text{
    text-align: center;
}

.vit-e{
    background: url("../images/vitamin-e.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
max-width:100%;
}
*/

.brand-name{
font: Roboto;
}

.icons{
    text-align:center;
}